*{
    margin: 0;
    padding: 0;
 font-family: 'Playfair Display', serif;
    box-sizing: border-box;
  
}
body{
    background-image: linear-gradient(120deg,#a3c8ec,#3149b6);
    min-height: 100vh;
  }
  .navbarr {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    text-align: center;
  }
  
  .navbarr a {
    float: left;
    display: flex;
    justify-content: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .navbarr a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbarr a.active {
  
    color: white;
  }
  .container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
  }
  #head{

    color: rgb(224, 18, 139);
  }

#pen
  {
color: rgb(235, 17, 17);
  }
  #com{

    color: #5dfd00;
  }
  .txtb{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
  }
  
  h3{
    margin: 10px 0;
  }
  
  .task{
    width: 100%;
    background: rgba(153, 19, 19, 0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
  }
  
  .task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .comp .task{
    background: rgba(36, 206, 13, 0.5);
    color: #fff;
  }
  
  
